*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logos{
    white-space: nowrap;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.logos-slide{
    display: inline-block;
    animation: 35s slides linear infinite;

}

.logos-slide img{
    margin: 0 50px;
}

@keyframes slides{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}